.navigation-toggle{
    display: none;
    padding: 0;
    margin: 2px;
    min-width:  56px;   
}
@media only screen and (max-width: 720px) {
    .navigation-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.navigation-toggle mat-icon{
        font-size : 30px;
        height: 56px;   
        width: 56px;   
        line-height:  56px;   
        color: white;
}

.toolbar-spacer{
    flex:1 1 auto;
}